<form [formGroup]="registerform" (ngSubmit)="register()">
  <div class="container w-25 border mt-5 p-3" style="background: gray">
    <h1 class="text-center text-white">Registration Form</h1>
    <div class="mt-2 p-2">
      <input
        formControlName="username"
        type="text"
        name="acno"
        id="usid"
        class="form-control"
        placeholder="Enter Username"
      />
    </div>
    <div  class="text-danger" *ngIf="this.registerform.get('username')?.errors&&this.registerform.get('username')?.touched">Invalid Username</div>
    <div class="mt-2 p-2">
      <input
        formControlName="acno"
        type="text"
        name="acno"
        id="acid"
        class="form-control"
        placeholder="Enter Account No."
      />
    </div>
    <div  class="text-danger" *ngIf="this.registerform.get('acno')?.errors&&this.registerform.get('acno')?.touched">Invalid Account Number</div>

    <div class="mt-2 p-2">
      <input
        formControlName="password"
        type="password"
        name="password"
        id="pid"
        placeholder="Password"
        class="form-control"
      />
    </div>
    <div  class="text-danger" *ngIf="this.registerform.get('password')?.errors&&this.registerform.get('password')?.touched">Invalid Password</div>
    <button type="submit" class="btn btn-outline-info">Register</button
    ><br /><br />
  </div>
</form>
